.hero_container {
  padding-block: 100px;
  border: 1px solid blue;

  .hero_grid {
    width: 90vw;
    height: 90vh;
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
    border: 1px solid;

    > div {
      border: 1px solid;
      position: relative;
    }

    > div > img:nth-of-type(2){
      will-change: clip-path;
      clip-path: circle(0% at -50% -50%);

      transition: clip-path 500ms ease-out;
    }

    > div:nth-child(1) {
      grid-column: 1 / span 2;
      grid-row: 1 / span 2;
    }



    // > div:nth-child(1) > img:nth-of-type(2){
    //     clip-path: circle(0% at -50% -50%);
    //     transition: clip-path 500ms;
    // }

    // > div:nth-child(1):hover > img:nth-of-type(2){
    //     clip-path: circle(100% at 50% 50%);
    // }





    > div:nth-child(2) {
      grid-column: 1 / span 2;
      grid-row: 3 / -1;
    }
    > div:nth-child(3) {
      grid-column: 3 / span 2;
      grid-row: 1 / span 3;
    }
    > div:nth-child(4) {
      grid-column: 3 / span 2;
      grid-row: 4 / -1;
    }
    > div:nth-child(5) {
      grid-column: 5 / span 2;
      grid-row: 1 / span 2;
    }
    > div:nth-child(6) {
      grid-column: 5 / span 2;
      grid-row: 3 / -1;
    }
    > div:nth-child(7) {
      grid-column: 7 / -1;
      grid-row: 1 / span 3;
    }
    > div:nth-child(8) {
      grid-column: 7 / -1;
      grid-row: 4 / -1;
    }

    > div * {
      pointer-events: none;
    }

    img {
      max-width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}

// mouse move elements style

.hero_moving_elements {
  > div {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    will-change: transform;
    pointer-events: none;
    transform: translate3d(-50%, -50%, 0);
    transition: 
    // transform 10ms cubic-bezier(.165,.84,.44,1),
      opacity 300ms ease-in;
  }

  .moving_cursor {
    // width: 30px;
    // height: 30px;
    background-color: #000;
    color: #fff;
    padding: 0.3rem 1rem;
    transform: rotate(-20deg);
    border-radius: 9999px;
    opacity: 0;

  
  }

  & [data-hero-title] {
    color: #000;
    font-size: 3.5rem;
    font-weight: 700;
    transform: rotate(-20deg);
    opacity: 0;
    line-height: 1.1;
    text-transform: uppercase;
  }

  @supports (-webkit-text-stroke: 1px #000) {
    & [data-hero-title] {
      -webkit-text-stroke: 3px #000  ; 
      text-stroke: 1px #000;
      -webkit-text-fill-color: transparent;
      text-fill-color: transparent;
    }
  }
}
