@use "@/scss/utils/variables" as v;
.bottom_navbar_container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .navbar_logo {
    > a {
      font-size: 2rem;
      font-weight: 900;
      letter-spacing: 2px;
    }

    @supports (-webkit-text-stroke: 1px #000) {
      a {
        -webkit-text-stroke: 2px #000;
        text-stroke: 1px #000;
        -webkit-text-fill-color: transparent;
        text-fill-color: transparent;
      }
    }
  }

  > div,
  ul {
    display: flex;
    align-items: center;
  }

  ul button {
    font-size: v.$font-size-medium;
    padding: 1rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 0.1rem;
    will-change: transform, color;

    svg {
      width: 20px;
      height: 20px;
      transition: transform 300ms;
    }
  }

  > div:first-child {
    flex-grow: 1;
  }

  > div:first-child > ul {
    margin-inline: auto;
  }

  > div:last-child {
    gap: 1.5rem;
  }

  button {
    background-color: transparent;
    border: none;
  }

  svg {
    width: 25px;
    height: 25px;
  }

  .btn_cart,
  .btn_favorite,
  .btn_hamburger {
    width: 40px;
    height: 40px;
    padding: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  :is(.btn_cart, .btn_favorite, .btn_hamburger):hover {
    background-color: rgba(128, 128, 128, 0.281);
  }

  .btn_favorite,
  .btn_hamburger {
    margin-inline-start: 1rem;
  }

  .btn_hamburger {
    display: none;
  }

  [data-search-input] {
    margin-inline-end: 2rem;
  }
}

.search_wrapper {
  display: flex;
  input {
    padding-inline: 0.5rem;
    padding-block: 0.2rem;
  }

  > button {
    width: 40px;
    height: 40px;
    // background-color: rgba(128, 128, 128, 0.281);
    border-radius: 50%;
    padding: 0.4rem;
    display: none;
    cursor: pointer;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  > button:hover {
    background-color: rgba(128, 128, 128, 0.281);
  }
}

/* --------------------- 
      submenu styles
-----------------------*/
.featured,
.men,
.women,
.kids,
.sale {
  background-color: v.$bg-slate-primary;
  display: flex;
  gap: 3rem;
  padding-block: 2rem;
  padding-inline: 3rem;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: -2;
  transform: translateX(-50%);
  box-shadow: v.$box-shadow-primary;
  will-change: clip-path, -webkit-clip-path;
  clip-path: circle(0% at 50% 0%);
  -webkit-clip-path: circle(0% at 50% 0%);
  transition: clip-path 300ms ease-in, -webkit-clip-path 300ms ease-in;

  h6 {
    font-size: v.$font-size-medium;
    margin-block-end: 0.5rem;
  }

  li {
    line-height: 1.7;
  }

  a {
    font-size: v.$font-size-normal;
    color: v.$color-slate-light;
  }

  a:hover {
    color: #000;
  }
}

@media (max-width: 1440px) {
  .bottom_navbar_container {
    li[data-classname="featured"] {
      display: none;
    }
  }
}

@media (max-width: 992px) {
  .bottom_navbar_container {
    padding-block-end: 1rem;
    [data-main-nav] {
      display: none;
    }

    .btn_favorite {
      display: none;
    }

    .btn_hamburger {
      display: block;
    }
  }

  .search_wrapper {
    form {
      display: none;
    }

    > button {
      display: block;
    }
  }
}
