.footer {
  padding-inline: 0.5rem;
  padding-block-start: 6rem;
  padding-block-end: 1rem;
  background-color: #000;
  color: #fff;
  margin-block-start: 150px;

  ul {
    list-style: none;
    padding: 0;
    line-height: 1.6;
  }

  h5 {
    text-transform: uppercase;
    font-size: 1.1rem;
  }

  > ul:first-child {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
    max-inline-size: 900px;
    margin-inline: auto;
  }

  .footer_socials {
    display: flex;
    gap: 0.8rem;
    margin-block-start: 0.4rem;
  }

  .footer_socials > li {
    background-color: gray;
    padding: 0.2rem;
    border-radius: 50%;
  }

  .footer_socials > li:hover {
    background-color: rgba(128, 128, 128, 0.698);
  }

  > ul > li:not(:last-child) li {
    color: gray;
  }

  > ul:first-child > li:not(:last-child) li:hover {
    color: #fff;
  }

  //  footer bottom
  > ul:last-child {
    margin-block-start: 4rem;
    display: flex;
    justify-content: space-between;
    gap: 8rem;
    margin-inline: 0.5rem;
    color: gray;
  }

  > ul:last-child ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  > ul:last-child ul li:hover {
    color: #fff;
  }

  svg {
    width: 32px;
    height: 32px;
  }
}
